<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
    <h1>starting</h1>

    <div class="wrapper">
        
        <div class="nav">

            <div class="nav-items">
                <ul><a href="#">home</a> </ul>
                <ul><a href="#">contact</a> </ul>
                <ul><a href="#">about</a> </ul>
            </div>
        </div>
    </div>


</body>
</html>